.card {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 400px;
  text-align: center;
  color: #2b2839;
  background: #ddebf8;
  border-bottom: 6px solid #d8cefe; 
  margin: 20px auto;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
  width: 150px;
}





